<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="dataSource" value=".\SQLEXPRESS" />
    <add key="dataBase" value="SCIDBv1" />
  </appSettings>
  <connectionStrings>
    <add
      name="SCIDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SCIDBv1;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add
      name="MasterConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
